method.insert                      = cfg.basedir,  private|const|string, (cat, "/config/")
method.insert                      = cfg.session,  private|const|string, (cat, (cfg.basedir), "session/")
method.insert                      = cfg.download, private|const|string, (cat, (cfg.basedir), "download/")
method.insert                      = cfg.logfile,  private|const|string, (cat, "/dev/stdout")

fs.mkdir                           = (cat, (cfg.session))
fs.mkdir                           = (cat, (cfg.download))

encoding.add                       = utf8
directory.default.set              = (cat,(cfg.download))
dht.mode.set                       = disable
pieces.memory.max.set              = 1000M

throttle.max_uploads.set           = 100
throttle.max_uploads.global.set    = 250
throttle.min_peers.normal.set      = 20
throttle.max_peers.normal.set      = 60
throttle.min_peers.seed.set        = 30
throttle.max_peers.seed.set        = 80

trackers.numwant.set               = 80
trackers.use_udp.set               = no

protocol.encryption.set            = allow_incoming,try_outgoing,enable_retry
protocol.pex.set                   = no

network.http.max_open.set          = 50
network.http.dns_cache_timeout.set = 25
network.max_open_files.set         = 600
network.max_open_sockets.set       = 300
network.xmlrpc.size_limit.set      = 4M

session.use_lock.set               = no
session.path.set                   = (cat, (cfg.session))

system.umask.set                   = 0002
system.cwd.set                     = (directory.default)

log.open_file                      = "log", (cfg.logfile)
log.add_output                     = "info", "log"
log.add_output                     = "warn", "log"
log.add_output                     = "critical", "log"
log.add_output                     = "torrent_info", "log"
