method.insert = cfg.basedir,  private|const|string, (cat,"/config/")
method.insert = cfg.session,  private|const|string, (cat,(cfg.basedir),"session/")
method.insert = cfg.download, private|const|string, (cat,(cfg.basedir),"download/")
method.insert = cfg.logfile,  private|const|string, (cat,"/dev/stdout")
# method.insert = cfg.watch,    private|const|string, (cat,(cfg.basedir),"watch/")
# method.insert = cfg.logs,     private|const|string, (cat,(cfg.basedir),"log/")
# method.insert = cfg.logfile,  private|const|string, (cat,(cfg.logs),"rtorrent-",(system.time),".log")

fs.mkdir = (cat,(cfg.session))
fs.mkdir = (cat,(cfg.download))
# fs.mkdir = (cat,(cfg.logs))
# fs.mkdir = (cat,(cfg.watch))
# fs.mkdir = (cat,(cfg.watch),"/load")
# fs.mkdir = (cat,(cfg.watch),"/start")

# schedule2 = watch_load, 11, 10, ((load.verbose, (cat, (cfg.watch), "load/*.torrent")))
# schedule2 = watch_start, 10, 10, ((load.start_verbose, (cat, (cfg.watch), "start/*.torrent")))

dht.mode.set = disable
protocol.pex.set = no
trackers.use_udp.set = no

throttle.max_uploads.set = 100
throttle.max_uploads.global.set = 250
throttle.min_peers.normal.set = 20
throttle.max_peers.normal.set = 60
throttle.min_peers.seed.set = 30
throttle.max_peers.seed.set = 80
trackers.numwant.set = 80
protocol.encryption.set = allow_incoming,try_outgoing,enable_retry

network.http.max_open.set = 50
network.max_open_files.set = 600
network.max_open_sockets.set = 300

pieces.memory.max.set = 1800M
network.xmlrpc.size_limit.set = 4M

session.path.set = (cat,(cfg.session))
directory.default.set = (cat,(cfg.download))
# log.execute = (cat, (cfg.logs), "execute.log")

encoding.add = utf8
system.umask.set = 0002
system.cwd.set = (directory.default)

network.http.max_open.set = 50
network.http.dns_cache_timeout.set = 25

# print = (cat, "Logging to ", (cfg.logfile))
# log.open_file = "log", (cfg.logfile)
# log.add_output = "info", "log"
# log.add_output = "warn", "log"
# log.add_output = "critical", "log"
log.open_file = "log", (cfg.logfile)
log.add_output = "info", "log"
log.add_output = "warn", "log"
log.add_output = "critical", "log"
log.add_output = "torrent_info", "log"
