[Unit]
Description=Run promtail
After=zfs-volumes.target network-online.target
Wants=network-online.target

[Service]
ExecStartPre=-/bin/podman kill promtail
ExecStartPre=-/bin/podman rm promtail
ExecStartPre=-/bin/podman pull grafana/promtail:2.3.0
ExecStart=/bin/podman run --name promtail \
    -e HOSTNAME=expanse \
    -v /tycho/System/promtail/config.yaml:/etc/promtail/promtail.yaml:ro \
    -v /var/log/journal:/var/log/journal:ro \
    --user root \
    grafana/promtail:2.3.0 -config.file=/etc/promtail/promtail.yaml
ExecStop=/bin/podman stop promtail

[Install]
WantedBy=multi-user.target
