---
version: "3"

services:
  promtail:
    image: docker.io/grafana/promtail:2.4.1
    restart: unless-stopped
    command:
      - -config.file=/etc/promtail/promtail.yaml
    volumes:
    volumes:
      - /tycho/System/Containers/apps/promtail/promtail.yaml:/etc/promtail/promtail.yaml:ro
      - /var/log:/var/log:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
    labels:
      - com.centurylinklabs.watchtower.enable=true
