---
apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  registry: quay.io
  imagePath: calico
  calicoNetwork:
    bgp: Enabled
    ipPools: # Note: The ipPools section cannot be modified post-install.
      - blockSize: 26
        cidr: "{{ k3s_server['cluster-cidr'] }}"
        encapsulation: None
        natOutgoing: Enabled
        nodeSelector: all()
    nodeAddressAutodetectionV4:
      cidrs:
        - "{{ (ansible_default_ipv4.network + '/' + ansible_default_ipv4.netmask) | ansible.utils.ipaddr('network/prefix') }}"
  nodeMetricsPort: 9091
  typhaMetricsPort: 9093
