# logfilename                              [owner:group]      mode    count size      when    flags   [/pid_file]               [sig_num]
/var/log/adguardhome/adguardhome.log       root:wheel         640     7     *         @T00    B       /var/run/adguardhome.pid  1
