[Unit]
Description=Vector
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=0
User=root
ExecStart=/usr/local/bin/vector --config /etc/vector/vector.yaml

[Install]
WantedBy=multi-user.target
