#!/bin/sh

# PROVIDE: coredns
# REQUIRE: DAEMON NETWORKING
# KEYWORD: shutdown
#
# Add the following to /etc/rc.conf[.local] to enable this service
#
# coredns_enable  (bool):        Set to NO by default.
#                                Set it to YES to enable coredns.
# coredns_config  (str):         Set to /usr/local/etc/coredns/Corefile by default.
#
# coredns_logfile (str):         Set to /var/log/coredns.log by default.
#

. /etc/rc.subr

name=coredns
rcvar=coredns_enable

load_rc_config ${name}

: ${coredns_enable:=NO}
: ${coredns_config:="/usr/local/etc/coredns/Corefile"}
: ${coredns_flags:=}
: ${coredns_logfile:="/var/log/coredns/coredns.log"}

pidfile=/var/run/coredns.pid
command="/usr/local/sbin/coredns"

start_cmd="${name}_start"

coredns_start()
{
    echo -n "Starting ${name}."
    # TODO: For log rotation to work, use '-H' option when Opnsense is on FreeBSD 13
    /usr/sbin/daemon -p ${pidfile} -m 3 -f -o ${coredns_logfile} ${command} -conf ${coredns_config} ${coredns_flags}
}

run_rc_command "$1"
