# logfilename                      [owner:group]      mode    count size      when    flags   [/pid_file]               [sig_num]
/var/log/coredns.log               root:wheel         644     2       *      @T00    GZB     /var/run/coredns.pid      30
