(common) {
  # AdGuardHome is bound to port 53 on my other interfaces
  bind 127.0.0.1 ::1
  errors
  log
  reload
  loadbalance
  cache 300
  loop
  local
  # dnsmasq is only enabled for setting hostnames in the Opnsense UI.
  # In the dnsmasq settings:
  # 1) Set 'Listen Port' to 553
  # 2) (optional) Network Interfaces is set to one local interface
  # 3) Make sure 'Register DHCP static mappings' is enabled
  # 4) Adding an 'Host Overrides' also appends to this host file
  hosts /var/etc/dnsmasq-hosts {
    ttl 600
    reload 5s
    fallthrough
  }
  prometheus 192.168.1.1:9153
}

. {
  import common
  k8s_gateway {{ SECRET_PUBLIC_DOMAIN }} {
    resources Ingress
    ttl 1
    kubeconfig /usr/local/etc/coredns/kubeconfig
    fallthrough
  }
  forward . tls://1.1.1.1 tls://1.0.0.1 {
    tls_servername cloudflare-dns.com
  }
}

{{ SECRET_PRIVATE_DOMAIN }} {
  import common
  k8s_gateway . {
    resources Ingress
    ttl 30
    kubeconfig /usr/local/etc/coredns/kubeconfig
  }
}
