(common) {
  # AdGuardHome is bound to port 53 on other interfaces
  bind 127.0.0.1 ::1
  errors
  log
  reload
  loadbalance
  cache 300
  loop
  local
  prometheus 192.168.1.1:9153
}

. {
  import common
  k8s_gateway {{ SECRET_PUBLIC_DOMAIN }} {
    resources Ingress
    ttl 30
    kubeconfig /usr/local/etc/coredns/kubeconfig
    fallthrough
  }
  forward . tls://1.1.1.1 tls://1.0.0.1 {
    tls_servername cloudflare-dns.com
  }
}

{{ SECRET_PRIVATE_DOMAIN }} {
  import common
  k8s_gateway . {
    resources Ingress
    ttl 30
    kubeconfig /usr/local/etc/coredns/kubeconfig
    fallthrough
  }
  # Forward DNS requests for this domain to dnsmasq which
  # contains host overrides and static dns mappings
  # defined in the OPNsense UI
  # In the dnsmasq settings:
  # 1) Set 'Listen Port' to 6363
  # 2) Network Interfaces is set to one local interface
  # 3) Add as many 'Host Overrides' as you need
  forward . 127.0.0.1:6363
}
