# logfilename                              [owner:group]      mode    count size      when    flags   [/pid_file]               [sig_num]
/var/log/coredns/coredns.log               root:wheel         640     8     *         @T00    ZB      /var/run/coredns.pid      1
