#shellcheck disable=SC2148,SC2155
export KUBECONFIG=$(expand_path ./kubeconfig)
export KUBECTL_EXTERNAL_DIFF="dyff between --omit-header --set-exit-code"
export SOPS_AGE_KEY_FILE=$(expand_path ~/.config/sops/age/keys.txt)
