# Editors
.vscode/
# Trash
.DS_Store
Thumbs.db
# Binaries
bin
/flux
*.iso
# Temp folders
.temp*
.private/
.logs/
.task/
# Ansible
xanmanning.k3s*
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
# Sops
.decrypted~*
# Kubernetes
kubeconfig
# NAS
secrets.json
# Other
report.html
