# Editors
.vscode/
# Trash
.DS_Store
Thumbs.db
# Binaries
bin
flux
*.iso
# Temp folders
ignore/
logs/
.task/
# Server folder
server/ansible/kubeconfig
server/ansible/inventory/e2e/hosts.yml
server/ansible/roles/xanmanning.k3s*
server/ansible/roles/andrewrothstein.calicoctl*
server/tests/node_modules
