# git config --local include.path ../.gitconfig
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[pull]
    rebase = true
[diff "dyff"]
    command = "dyff_between() { printf "%s" "$1"; dyff --color on between --omit-header \"$2\" \"$5\"; }; dyff_between"
