[defaults]

#--- General settings
nocows                      = True
forks                       = 8
module_name                 = command
deprecation_warnings        = True
executable                  = /bin/bash
stdout_callback             = yaml

#--- Files/Directory settings
log_path                = ~/ansible.log
inventory               = ./provision/ansible/inventory
library                 = /usr/share/my_modules
remote_tmp              = /tmp/.ansible/tmp
local_tmp               = /tmp/.ansible/tmp
roles_path              = ./provision/ansible/roles
retry_files_enabled     = False

#--- Fact Caching settings
fact_caching            = jsonfile
fact_caching_connection = ~/.ansible/facts_cache
fact_caching_timeout    = 7200

#--- SSH settings
remote_port             = 22
timeout                 = 60
host_key_checking       = False
ssh_executable          = /usr/bin/ssh
private_key_file        = ~/.ssh/id_rsa

force_valid_group_names = ignore

#--- Speed
callback_enabled       = true
internal_poll_interval = 0.001

#--- Plugin settings
vars_plugins_enabled = host_group_vars,community.sops.sops

[inventory]
unparsed_is_failed      = true

[privilege_escalation]
become                  = True
become_method           = sudo
become_user             = root
become_ask_pass         = False

[ssh_connection]
scp_if_ssh              = smart
transfer_method         = smart
retries                 = 3
timeout                 = 10
ssh_args                = -o ControlMaster=auto -o ControlPersist=30m -o Compression=yes -o ServerAliveInterval=15s
pipelining              = True
control_path            = %(directory)s/%%h-%%r
