[Unit]
Description=Run nginx-proxy-manager
After=var-data.mount network-online.target
Wants=network-online.target

[Service]
ExecStartPre=-/bin/podman kill nginx-proxy-manager
ExecStartPre=-/bin/podman rm nginx-proxy-manager
ExecStartPre=-/bin/podman pull jc21/nginx-proxy-manager:2.9.8
ExecStart=/bin/podman run --name nginx-proxy-manager --net=host \
    -e DB_SQLITE_FILE="/data/npm.sqlite" \
    -v /tycho/System/nginx-proxy-manager/data:/data \
    -v /tycho/System/nginx-proxy-manager/letsencrypt:/etc/letsencrypt \
    --user root \
    jc21/nginx-proxy-manager:2.9.8
ExecStop=/bin/podman stop nginx-proxy-manager

[Install]
WantedBy=multi-user.target
