global
    daemon
    maxconn 256

defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http
    bind :8080
    default_backend stats

backend stats
    mode http
    stats enable

    stats enable
    stats uri /
    stats refresh 1s
    stats show-legends
    stats admin if TRUE

resolvers k8s
    parse-resolv-conf
    hold other           10s
    hold refused         10s
    hold nx              10s
    hold timeout         10s
    hold valid           10s
    hold obsolete        10s

frontend redis-read
    bind *:6380
    default_backend redis-online

frontend redis-write
    bind *:6379
    default_backend redis-primary

frontend redis-sentinel
    bind *:26379
    default_backend redis-sentinel

backend redis-primary
    mode tcp
    balance first
    option tcp-check
    tcp-check send info\ replication\r\n
    tcp-check expect string role:master
    server redis-0 redis-node-0.redis-headless.default.svc.cluster.local:6379 check inter 1s
    server redis-1 redis-node-1.redis-headless.default.svc.cluster.local:6379 check inter 1s
    server redis-2 redis-node-2.redis-headless.default.svc.cluster.local:6379 check inter 1s

backend redis-online
    mode tcp
    balance roundrobin
    option tcp-check
    tcp-check send PING\r\n
    tcp-check expect string +PONG
    server redis-0 redis-node-0.redis-headless.default.svc.cluster.local:6379 check inter 1s
    server redis-1 redis-node-1.redis-headless.default.svc.cluster.local:6379 check inter 1s
    server redis-2 redis-node-2.redis-headless.default.svc.cluster.local:6379 check inter 1s

backend redis-sentinel
    mode tcp
    balance roundrobin
    option tcp-check
    tcp-check send PING\r\n
    tcp-check expect string +PONG
    server redis-0 redis-node-0.redis-headless.default.svc.cluster.local:26379 check inter 1s
    server redis-1 redis-node-1.redis-headless.default.svc.cluster.local:26379 check inter 1s
    server redis-2 redis-node-2.redis-headless.default.svc.cluster.local:26379 check inter 1s
