# This file describes the network interfaces available on your system
# For more information, see netplan(5).
network:
  version: 2
  renderer: networkd
  ethernets:
    enp7s0:
      match:
        macaddress: {{ ansible_default_ipv4.macaddress }}
      mtu: 1500
      addresses: [ {{ ansible_default_ipv4.address }}/24 ]
      gateway4: 192.168.42.1
      nameservers:
        search: 
          - lan
          - unifi.lan
        addresses:
          - "192.168.1.15"
