{
  "ui": "true",
  "listener":  {
    "tcp":  {
      "address":  "0.0.0.0:8200",
      "tls_disable":  "true",
      "telemetry": {
        "unauthenticated_metrics_access": "true"
      }
    }
  },
  "backend": {
    "file": {
      "path": "/vault/file"
    }
  },
  "telemetry": {
    "disable_hostname": "true"
  },
  "default_lease_ttl": "168h",
  "max_lease_ttl": "0h",
  "api_addr": "http://0.0.0.0:8200"
}
