[start]
command:/usr/local/etc/rc.d/coredns start
parameters:
type:script
message:starting coredns

[stop]
command:/usr/local/etc/rc.d/coredns stop
parameters:
type:script
message:stopping coredns

[restart]
command:/usr/local/etc/rc.d/coredns restart
parameters:
type:script
message:restarting coredns
