[start]
command:/usr/local/etc/rc.d/k8s_gateway start
parameters:
type:script
message:starting k8s_gateway

[stop]
command:/usr/local/etc/rc.d/k8s_gateway stop
parameters:
type:script
message:stopping k8s_gateway

[restart]
command:/usr/local/etc/rc.d/k8s_gateway restart
parameters:
type:script
message:restarting k8s_gateway
