# logfilename                              [owner:group]      mode    count size      when    flags   [/pid_file]               [sig_num]
/var/log/k8s_gateway/k8s_gateway.log               root:wheel         640     7     *         @T00    B       /var/run/k8s_gateway.pid      1
