SHELL=/bin/sh
PATH=/etc:/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin
#minute    hour    mday    month    wday    who    command
0    */6    *    *    *    root    /usr/local/sbin/rclone --config /usr/local/etc/rclone/rclone.conf sync --exclude "git/**" /conf/backup b2:opnsense-d5b252ad/ && curl -fsS -m 10 --retry 5 -o /dev/null {{ UPTIMEROBOT_B2_PING }}
0    */6    *    *    *    root    /usr/local/sbin/rclone --config /usr/local/etc/rclone/rclone.conf sync --exclude "git/**" /conf/backup minio:opnsense/ && curl -fsS -m 10 --retry 5 -o /dev/null {{ UPTIMEROBOT_MINIO_PING }}
