SHELL=/bin/sh
PATH=/etc:/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin
#minute    hour    mday    month    wday    who    command
0    *    *    *    *    root    /usr/local/sbin/rclone --config /usr/local/etc/rclone/rclone.conf sync --exclude "git/**" /conf/backup b2:opnsense-d5b252ad/
0    *    *    *    *    root    /usr/local/sbin/rclone --config /usr/local/etc/rclone/rclone.conf sync --exclude "git/**" /conf/backup minio:opnsense/
