[Unit]
Description=%i backup service with docker compose
Requires=docker.service
After=docker.service
ConditionPathIsMountPoint={{ system_base_dir }}

[Service]
WorkingDirectory={{ containers_base_dir }}/apps/rclone/%i
ExecStart=/usr/local/bin/docker-compose up
ExecStartPost=/usr/bin/curl -fsS -m 10 --retry 5 -o /dev/null {{ heartbeat_url }}

[Install]
WantedBy=multi-user.target
