---
version: "3.8"

services:
  {{ container_name }}:
    image: ghcr.io/k8s-at-home/rclone:v1.57.0
    container_name: {{ container_name }}
    network_mode: host
    command:
      - "-v"
      - "--config"
      - "/config/rclone.conf"
      - "sync"
      - "--ignore-errors"
      - "--fast-list"
      - "--b2-hard-delete"
      - "--transfers"
      - "20"
      - "--checkers"
      - "20"
      - "--bwlimit"
      - "20M"
      - "{{ source }}"
      - "{{ destination }}"
    volumes:
      - "{{ containers_base_dir }}/apps/rclone/rclone.conf:/config/rclone.conf:ro"
      - /tycho/Data:/data:ro
      - /tycho/Media:/media:ro
