---
version: "3.8"

services:
  smartctl-exporter:
    image: quay.io/prometheuscommunity/smartctl-exporter:v0.9.1
    container_name: smartctl-exporter
    restart: unless-stopped
    user: root
    privileged: true
    command:
      - --smartctl.path=/usr/sbin/smartctl
      - --smartctl.interval=120s
      - --web.listen-address=0.0.0.0:9633
      - --web.telemetry-path=/metrics
    volumes:
      - /dev:/hostdev
    ports:
      - 9633:9633
