kvmd:
    gpio:
        drivers:
            tes:
                type: tesmart
                host: {{ tesmart_addr }}
                port: {{ tesmart_port }}
        scheme:
            server0_led:
                driver: tes
                pin: 0
                mode: input
            server0_switch:
                driver: tes
                pin: 0
                mode: output
                switch: false
            server1_led:
                driver: tes
                pin: 1
                mode: input
            server1_switch:
                driver: tes
                pin: 1
                mode: output
                switch: false
            server2_led:
                driver: tes
                pin: 2
                mode: input
            server2_switch:
                driver: tes
                pin: 2
                mode: output
                switch: false
            server3_led:
                driver: tes
                pin: 3
                mode: input
            server3_switch:
                driver: tes
                pin: 3
                mode: output
                switch: false
            server4_led:
                driver: tes
                pin: 4
                mode: input
            server4_switch:
                driver: tes
                pin: 4
                mode: output
                switch: false
            server5_led:
                driver: tes
                pin: 5
                mode: input
            server5_switch:
                driver: tes
                pin: 5
                mode: output
                switch: false
        view:
            table:
                - ["TESMART Switch"]
                - []
                - ["#k8s-0", server0_led, server0_switch|Switch]
                - ["#k8s-1", server1_led, server1_switch|Switch]
                - ["#k8s-2", server2_led, server2_switch|Switch]
                - ["#k8s-3", server3_led, server3_switch|Switch]
                - ["#k8s-4", server4_led, server4_switch|Switch]
                - ["#k8s-5", server5_led, server5_switch|Switch]
