{{ if registry.cache.enabled == true }}
mirrors:
  "docker.io":
    endpoint:
      - "{{ registry.cache.address }}"
  "*":
    endpoint:
      - "{{ registry.cache.address }}"
{{ end }}
{{ if registry.local.enabled == true }}
configs:
  "{{ registry.local.address }}":
    auth:
      username: "{{ registry.local.username }}"
      password: "{{ registry.local.password }}"
{{ end }}
