---
version: "3.8"

services:
  postgresql:
    image: docker.io/library/postgres:14.1
    container_name: postgresql
    restart: &restartPolicy unless-stopped
    network_mode: bridge
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: "{{ SECRET_POSTGRESQL_USERNAME }}"
      POSTGRES_PASSWORD: "{{ SECRET_POSTGRESQL_PASSWORD }}"
      PGDATA: /var/lib/postgresql/data
    ports:
      - 5432:5432
    volumes:
      - pg-data:/var/lib/postgresql/data

  postgresql-exporter:
    image: quay.io/prometheuscommunity/postgres-exporter:v0.10.1
    container_name: postgresql-exporter
    restart: *restartPolicy
    network_mode: bridge
    environment:
      DATA_SOURCE_NAME: "postgresql://{{ SECRET_POSTGRESQL_USERNAME }}:{{ SECRET_POSTGRESQL_PASSWORD }}@pgsql-server:5432/postgres?sslmode=disable"
    ports:
      - 9187:9187
    links:
      - postgresql:pgsql-server

  pgadmin:
    image: docker.io/dpage/pgadmin4:6.4
    container_name: postgresql-pgadmin
    restart: *restartPolicy
    network_mode: bridge
    environment:
      PGADMIN_DEFAULT_EMAIL: "{{ SECRET_PGADMIN_USERNAME }}"
      PGADMIN_DEFAULT_PASSWORD: "{{ SECRET_PGADMIN_PASSWORD }}"
      PGADMIN_LISTEN_PORT: 12080
    ports:
      - 12080:12080
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    links:
      - postgresql:pgsql-server
    depends_on:
      - postgresql
    labels:
      - traefik.enable=true
      - traefik.http.routers.pgadmin.rule=Host(`pgadmin.{{ SECRET_PRIVATE_DOMAIN }}`)
      - traefik.http.routers.pgadmin.entrypoints=websecure
      - traefik.http.routers.pgadmin.tls.certresolver=letsencrypt
      - traefik.http.services.pgadmin.loadbalancer.server.port=12080

  pgbackups:
    image: docker.io/prodrigestivill/postgres-backup-local:14
    container_name: postgresql-pgbackups
    restart: *restartPolicy
    network_mode: bridge
    environment:
      POSTGRES_HOST: pgsql-server
      POSTGRES_DB: postgres
      POSTGRES_USER: "{{ SECRET_POSTGRESQL_USERNAME }}"
      POSTGRES_PASSWORD: "{{ SECRET_POSTGRESQL_PASSWORD }}"
      POSTGRES_EXTRA_OPTS: "-Z9 --schema=public --blobs"
      SCHEDULE: "@daily"
      BACKUP_KEEP_DAYS: 7
      BACKUP_KEEP_WEEKS: 0
      BACKUP_KEEP_MONTHS: 0
      HEALTHCHECK_PORT: 9166
    volumes:
      - pgbackups-data:/backups
    links:
      - postgresql:pgsql-server
    depends_on:
      - postgresql
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9166/"]
      interval: 30s
      timeout: 20s
      retries: 3

volumes:
  pg-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ containers_base_dir }}/data/postgresql/data"
  pgadmin-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ containers_base_dir }}/data/postgresql/pgadmin"
  pgbackups-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ containers_base_dir }}/data/postgresql/pgbackups"
