---
version: "3.8"

services:
  kopia:
    image: docker.io/kopia/kopia:0.10.7
    container_name: kopia
    restart: unless-stopped
    network_mode: bridge
    environment:
      KOPIA_PASSWORD: "{{ SECRET_KOPIA_PASSWORD }}"
      TZ: America/New_York
    command:
      - server
      - --insecure
      - --address
      - 0.0.0.0:51515
      - --override-hostname
      - "expanse.{{ SECRET_PRIVATE_DOMAIN }}"
      - --override-username
      - devin
      - --without-password
    ports:
      - 51515:51515
    volumes:
      - "{{ docker_base_dir }}/kopia/config:/app/config"
      - "{{ docker_base_dir }}/kopia/cache:/app/cache"
      - "{{ docker_base_dir }}/kopia/logs:/app/logs"
      - /tycho:/tycho:ro
