---
apiVersion: batch/v1
kind: Job
metadata:
  name: volsync-list-{{ ENV.APP }}
  namespace: {{ ENV.NS }}
spec:
  ttlSecondsAfterFinished: 3600
  template:
    spec:
      automountServiceAccountToken: false
      restartPolicy: OnFailure
      containers:
        - name: main
          image: docker.io/restic/restic:latest
          args: ["snapshots"]
          envFrom:
            - secretRef:
                name: {{ ENV.APP }}-volsync-secret
          resources: {}
