machine:
  type: controlplane
  network:
    hostname: k8s-0
  disks:
    - device: /dev/disk/by-id/nvme-Corsair_MP600_MICRO_A828B4420085JH
      partitions:
        - mountpoint: /var/mnt/extra
  install:
    image: factory.talos.dev/installer/ab86bd395e263b78e5f54c800e4d319dae786d9ae25ecb129462a9e0e9491615:v1.10.6
