machine:
  type: controlplane
  network:
    hostname: k8s-2
  disks:
    - device: /dev/disk/by-id/nvme-Corsair_MP600_MICRO_A828B4420086HN
      partitions:
        - mountpoint: /var/mnt/extra
  install:
    image: ghcr.io/siderolabs/installer:v1.10.6
