machine:
  network:
    hostname: k8s-0
  disks:
    - device: /dev/disk/by-id/nvme-Corsair_MP600_MICRO_A828B4420085JH
      partitions:
        - mountpoint: /var/mnt/extra
  install:
    image: factory.talos.dev/installer/de3b865124c5616da8084826167f8c0b0fbc9b905b146290db797024e84097fc:{{ ENV.TALOS_VERSION }}
