---
machine:
  network:
    hostname: k8s-2
    interfaces:
      - # k8s-0
        deviceSelector:
          driver: thunderbolt-net
          busPath: 1-1.0
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.22/32
        routes:
          - network: 169.254.255.20/32
            metric: 2048
      - # k8s-1
        deviceSelector:
          driver: thunderbolt-net
          busPath: 0-1.0
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.22/32
        routes:
          - network: 169.254.255.21/32
            metric: 2048
  nodeLabels:
    topology.kubernetes.io/zone: m
  type: controlplane
