---
machine:
  install:
    diskSelector:
      model: Samsung SSD 870
  network:
    hostname: k8s-1
    interfaces:
      - deviceSelector:
          hardwareAddr: 00:30:93:12:*
          driver: atlantic
        mtu: 9000
        dhcp: true
        vip:
          ip: 192.168.42.120
  nodeLabels:
    intel.feature.node.kubernetes.io/gpu: "true"
    topology.kubernetes.io/zone: m
  type: controlplane
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: disk.model == "Corsair MP600 MICRO" && !system_disk
  minSize: 1TB
---
apiVersion: v1alpha1
kind: WatchdogTimerConfig
device: /dev/watchdog0
timeout: 5m
