---
machine:
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-2
---
apiVersion: v1alpha1
kind: KubeNodeConfig
labels:
  topology.kubernetes.io/zone: m
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.67
vlanID: 67
parent: bond0
mtu: 9000
addresses:
  - address: 192.168.67.12/24
---
apiVersion: v1alpha1
kind: BGPPeerConfig
routerID: 192.168.67.12
