{%- set urls =
  {
    'repo': {
      'url': 'https://github.com/onedr0p/home-ops'
    },
    'external': {
      'ansible': {
        'url': 'https://www.ansible.com/',
        'label': 'Ansible'
      },
      'ansible-role-k3s': {
        'url': 'https://github.com/PyratLabs/ansible-role-k3s'
      },
      'blocky': {
        'url': 'https://github.com/0xERR0R/blocky',
        'label': 'Blocky'
      },
      'calico': {
        'url': 'https://docs.projectcalico.org/about/about-calico'
      },
      'cert-manager': {
        'url': 'https://cert-manager.io'
      },
      'coredns': {
        'url': 'https://github.com/coredns/coredns',
        'label': 'CoreDNS'
      },
      'coredns_k8s_gateway': {
        'url': 'https://coredns.io/explugins/k8s_gateway/',
        'label': 'k8s_gateway'
      },
      'external-dns': {
        'url': 'https://github.com/kubernetes-sigs/external-dns'
      },
      'flux': {
        'url': 'https://fluxcd.io'
      },
      'k3s': {
        'url': 'https://k3s.io'
      },
      'kah_repo_awesome': {
        'url': 'https://github.com/k8s-at-home/awesome-home-kubernetes',
        'label': 'awesome-home-kubernetes'
      },
      'kah_discord': {
        'url': 'https://discord.gg/k8s-at-home',
        'label': 'Kubernetes @home Discord'
      },
      'kasten': {
        'url': 'https://www.kasten.io',
        'label': 'Kasten K10'
      },
      'kube-vip': {
        'url': 'https://kube-vip.io'
      },
      'kured': {
        'url': 'https://github.com/weaveworks/kured',
        'label': 'Kured'
      },
      'letsencrypt': {
        'url': 'https://letsencrypt.org',
        'label': 'LetsEncrypt'
      },
      'opnsense': {
        'url': 'https://opnsense.org',
        'label': 'OPNsense'
      },
      'rook-ceph': {
        'url': 'https://rook.io'
      },
      'sops': {
        'url': 'https://github.com/mozilla/sops',
        'label': 'Mozilla SOPS'
      },
      'traefik': {
        'url': 'https://traefik.io',
        'label': 'Traefik'
      }
    }
  }
-%}

{% macro external(name, label) -%}
  {% if label %}
  [{{ label }}]({{ urls.external[name].url }}){target=\_blank}
  {% elif urls.external[name].label %}
  [{{ urls.external[name].label }}]({{ urls.external[name].url }}){target=\_blank}
  {% else %}
  [{{ name }}]({{ urls.external[name].url }}){target=\_blank}
  {% endif %}
{%- endmacro %}

{% macro repoUrl(label, suffix) -%}
  [{{ label }}]({{ urls.repo.url }}{% if label %}/{{ suffix }}{% endif %}){target=\_blank}
{%- endmacro %}
