---
version: "3.8"

services:
  traefik:
    image: docker.io/library/traefik:v2.5.5
    container_name: traefik
    restart: unless-stopped
    network_mode: host
    environment:
      CF_API_EMAIL: "{{ SECRET_CLOUDFLARE_EMAIL }}"
      CF_API_KEY: "{{ SECRET_CLOUDFLARE_APIKEY }}"
    command:
      - --api=true
      - --api.dashboard=true
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --certificatesresolvers.letsencrypt.acme.email={{ SECRET_CLOUDFLARE_EMAIL }}
      - --certificatesresolvers.letsencrypt.acme.storage=/certs/acme.json
      - --certificatesresolvers.letsencrypt.acme.caserver=https://acme-v02.api.letsencrypt.org/directory
      - --certificatesResolvers.letsencrypt.acme.dnschallenge=true
      - --certificatesResolvers.letsencrypt.acme.dnschallenge.provider=cloudflare
      - --certificatesResolvers.letsencrypt.acme.dnschallenge.resolvers=1.1.1.1:53,8.8.8.8:53
      - --serverstransport.insecureskipverify=true
      - --log.level=INFO
    # ports:
    #   - 80:80
    #   - 443:443
    #   - 8080:8080
    volumes:
      - traefik-certs:/certs
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - traefik.enable=true
      - traefik.http.routers.dashboard.rule=Host(`traefik.{{ SECRET_PRIVATE_DOMAIN }}`)
      - traefik.http.routers.dashboard.entrypoints=websecure
      - traefik.http.routers.dashboard.tls.certresolver=letsencrypt
      - traefik.http.routers.dashboard.service=api@internal
      - traefik.http.services.dashboard.loadbalancer.server.port=8080

volumes:
  traefik-certs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ containers_base_dir }}/data/traefik/certs"
