[Unit]
Description=%i service with docker compose
Requires=docker.service
After=docker.service
ConditionPathIsMountPoint={{ zfs_zpool_base_dir }}

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory={{ containers_base_dir }}/apps/%i
ExecStart=/usr/local/bin/docker-compose up -d --remove-orphans
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
