[Unit]
Description=%i service with docker compose
Requires=docker.service
After=docker.service
ConditionPathIsMountPoint={{ condition_path_is_mount_point }}

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory={{ docker_base_dir }}/%i
ExecStart=/usr/local/bin/docker-compose up -d --remove-orphans
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
