SHELL=/bin/sh
PATH=/etc:/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin
#minute    hour    mday    month    wday    who    command
6    1    *    *    1,3    root    /usr/local/sbin/geoipupdate -f /usr/local/etc/geoip/GeoIP.conf && /bin/rm /usr/local/etc/geoip/.geoipupdate.lock
