---

etcd-snapshot-schedule-cron: "0 */6 * * *"
etcd-snapshot-retention: 28
etcd-s3: true
etcd-s3-endpoint: "s3.{{ SECRET_DOMAIN }}"
etcd-s3-insecure: false
etcd-s3-bucket: "k3s-etcd-snapshots"
etcd-s3-access-key: "{{ etcd_s3_access_key }}"
etcd-s3-secret-key: "{{ etcd_s3_secret_key }}"
