defaults
auth off
tls  off
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile /var/log/msmtp

account        maddy
host           smtp-relay.turbo.ac
port           25
from           expanse@buhl.casa
tls_starttls   off

account default: maddy

aliases /etc/aliases
