# logfilename                              [owner:group]      mode    count size      when    flags   [/pid_file]               [sig_num]
/var/log/frr_exporter/frr_exporter.log       root:wheel         640     7     *         @T00    B       /var/run/frr_exporter.pid  1
