[Unit]
Description=%i backup timer with docker compose
Requires=docker-compose@%i.service

[Timer]
Unit=docker-compose@%i.service
OnBootSec=10min
OnCalendar=*-*-* 03:00:00 America/New_York

[Install]
WantedBy=multi-user.target
