127.0.0.1 localhost
127.0.1.1 {{ inventory_hostname }}

# k8s control-nodes
{% for host in groups['control-nodes'] %}
{{ hostvars[host].ansible_default_ipv4.address }}  {{ host }}
{% endfor %}

# k8s generic-nodes
{% for host in groups['generic-nodes'] %}
{{ hostvars[host].ansible_default_ipv4.address }}  {{ host }}
{% endfor %}
