(common) {
  bind 127.0.0.1
  errors
  log
  reload
  loadbalance
  cache
  loop
  local
  prometheus 192.168.1.1:9153
}

(localhostz) {
  # dnsmasq is only enabled for setting hostnames in Opnsense
  hosts /var/etc/dnsmasq-hosts {
    ttl 1
    reload 5s
    fallthrough
  }
}

(k8s_gatewayz) {
  forward . 192.168.69.108:53
}

. {
  import common
  import localhostz
  forward . tls://1.1.1.1 tls://1.0.0.1 {
    tls_servername cloudflare-dns.com
  }
  health {
    lameduck 5s
  }
}

{{ SECRET_PUBLIC_DOMAIN }} {
  import common
  import localhostz
  import k8s_gatewayz
}

turbo.ac {
  import common
  import localhostz
  import k8s_gatewayz
}

{{ SECRET_EMAIL_DOMAIN }} {
  import common
  import localhostz
  import k8s_gatewayz
}
