(common) {
  errors
  log
  reload
  loadbalance
  cache
  loop
  local
  prometheus 192.168.1.1:9153
}

(localhostz) {
  # dnsmasq is only enabled for setting hostnames in Opnsense
  hosts /var/etc/dnsmasq-hosts {
    ttl 1
    reload 5s
    fallthrough
  }
}

(k8s_gatewayz) {
  forward . 192.168.69.108:53
}

. {
  import common
  import localhostz
  forward . tls://45.90.28.61 tls://45.90.30.61 {
    tls_servername router-2457e3.dns.nextdns.io
  }
  health {
    lameduck 5s
  }
}

devbu.io {
  import common
  import localhostz
  import k8s_gatewayz
}

turbo.ac {
  import common
  import localhostz
  import k8s_gatewayz
}
