defaults
auth off
tls  off
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile /var/log/msmtp

account        postfix
host           opnsense.turbo.ac
port           25
from           admin@buhl.casa
tls_starttls   off

account default: postfix

aliases /etc/aliases
