defaults
auth off
tls  off
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile /var/log/msmtp

account        mailrise
host           mailrise.devbu.io
port           8025
from           expanse@turbo.ac
tls_starttls   off

account default: mailrise

aliases /etc/aliases
