defaults
auth off
tls  off
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile /var/log/msmtp

account        smtp-relay
host           192.168.69.102
port           2525
from           expanse@buhl.casa
tls_starttls   off

account default: smtp-relay

aliases /etc/aliases
