[start]
command:/usr/local/etc/rc.d/vector start
parameters:
type:script
message:starting vector

[stop]
command:/usr/local/etc/rc.d/vector stop
parameters:
type:script
message:stopping vector

[restart]
command:/usr/local/etc/rc.d/vector restart
parameters:
type:script
message:restarting vector
