---
version: "3.8"

services:
  nexus:
    image: docker.io/sonatype/nexus3:3.37.1
    restart: unless-stopped
    container_name: nexus
    environment:
      INSTALL4J_ADD_VM_PARAMS: "-Xms4096m -Xmx4096m -XX:ActiveProcessorCount=4 -XX:MaxDirectMemorySize=4096m -Djava.util.prefs.userRoot=/nexus-data/javaprefs"
    ports:
      - 8081:8081
      - 8082:8082
      - 8083:8083
    volumes:
      - nexus-data:/nexus-data
    labels:
      - traefik.enable=true
      - traefik.http.routers.artifacts.rule=Host(`artifacts.{{ SECRET_PRIVATE_DOMAIN }}`)
      - traefik.http.routers.artifacts.service=artifacts
      - traefik.http.routers.artifacts.entrypoints=websecure
      - traefik.http.routers.artifacts.tls.certresolver=letsencrypt
      - traefik.http.services.artifacts.loadbalancer.server.port=8081
      - traefik.http.routers.registry.service=registry
      - traefik.http.routers.registry.rule=Host(`registry.{{ SECRET_PRIVATE_DOMAIN }}`)
      - traefik.http.routers.registry.entrypoints=websecure
      - traefik.http.routers.registry.tls.certresolver=letsencrypt
      - traefik.http.services.registry.loadbalancer.server.port=8082
      - traefik.http.routers.mirror.service=mirror
      - traefik.http.routers.mirror.rule=Host(`mirror.{{ SECRET_PRIVATE_DOMAIN }}`)
      - traefik.http.routers.mirror.entrypoints=websecure
      - traefik.http.routers.mirror.tls.certresolver=letsencrypt
      - traefik.http.services.mirror.loadbalancer.server.port=8083

volumes:
  nexus-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ containers_base_dir }}/data/nexus"
