---
version: v1alpha1
machine:
  ca:
    crt: op://kubernetes/talos/MACHINE_CA_CRT
    {% if ENV.CONTROLPLANE %}
    key: op://kubernetes/talos/MACHINE_CA_KEY
    {% endif %}
  features:
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    {% if ENV.CONTROLPLANE %}
    kubernetesTalosAPIAccess:
      enabled: true
      allowedKubernetesNamespaces:
        - actions-runner-system
        - system-upgrade
      allowedRoles:
        - os:admin
    {% endif %}
    rbac: true
  token: op://kubernetes/talos/MACHINE_TOKEN
cluster:
  ca:
    crt: op://kubernetes/talos/CLUSTER_CA_CRT
    {% if ENV.CONTROLPLANE %}
    key: op://kubernetes/talos/CLUSTER_CA_KEY
    {% endif %}
  clusterName: main
  controlPlane:
    endpoint: https://k8s.internal:6443
  token: op://kubernetes/talos/CLUSTER_TOKEN
  {% if ENV.CONTROLPLANE %}
  aggregatorCA:
    crt: op://kubernetes/talos/CLUSTER_AGGREGATORCA_CRT
    key: op://kubernetes/talos/CLUSTER_AGGREGATORCA_KEY
  etcd:
    advertisedSubnets:
      - 192.168.42.0/24
    ca:
      crt: op://kubernetes/talos/CLUSTER_ETCD_CA_CRT
      key: op://kubernetes/talos/CLUSTER_ETCD_CA_KEY
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
  serviceAccount:
    key: op://kubernetes/talos/CLUSTER_SERVICEACCOUNT_KEY
  {% endif %}
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: link.driver == "atlantic" && mac(link.permanent_addr).startsWith("00:30:93:12:")
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - net0
bondMode: active-backup
mtu: 9000
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: bond0
clientIdentifier: mac
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.70
vlanID: 70
parent: bond0
mtu: 9000
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.90
vlanID: 90
parent: bond0
mtu: 9000
---
apiVersion: v1alpha1
kind: ResolverConfig
hostDNS:
  enabled: true
  forwardKubeDNSToHost: true # Requires Cilium socketLB features
  resolveMemberNames: true
---
apiVersion: v1alpha1
kind: DiscoveryServiceConfig
name: default
endpoint: https://discovery.talos.dev/
---
apiVersion: v1alpha1
kind: DiscoveryIdentityConfig
clusterID: op://kubernetes/talos/CLUSTER_ID
clusterSecret: op://kubernetes/talos/CLUSTER_SECRET
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
installer:
  image: factory.talos.dev/metal-installer/{{ ENV.SCHEMATIC }}:v1.14.0-beta.0
provisioning:
  diskSelector:
    match: disk.model == "MK000480GWCEV"
  wipe: false
---
apiVersion: v1alpha1
kind: RawVolumeConfig
name: miroir-slow
provisioning:
  diskSelector:
    match: disk.model == "Corsair MP600 MICRO" && !system_disk
  minSize: 1TB
---
apiVersion: v1alpha1
kind: FilesystemTrimConfig
interval: 168h0m0s
---
apiVersion: v1alpha1
kind: WatchdogTimerConfig
device: /dev/watchdog0
timeout: 5m
---
apiVersion: v1alpha1
kind: KernelModuleConfig
name: dm_thin_pool
---
apiVersion: v1alpha1
kind: KernelModuleConfig
name: drbd
parameters:
  - usermode_helper=disabled
---
apiVersion: v1alpha1
kind: KernelModuleConfig
name: drbd_transport_tcp
---
apiVersion: v1alpha1
kind: KernelModuleConfig
name: nbd
---
apiVersion: v1alpha1
kind: KernelModuleConfig
name: thunderbolt
---
apiVersion: v1alpha1
kind: SysctlConfig
params:
  fs.inotify.max_user_instances: "8192"
  fs.inotify.max_user_watches: "1048576"
  net.core.default_qdisc: fq
  net.core.rmem_max: "67108864"
  net.core.wmem_max: "67108864"
  net.ipv4.neigh.default.gc_thresh1: "4096"
  net.ipv4.neigh.default.gc_thresh2: "8192"
  net.ipv4.neigh.default.gc_thresh3: "16384"
  net.ipv4.ping_group_range: 0 2147483647
  net.ipv4.tcp_congestion_control: bbr
  net.ipv4.tcp_fastopen: "3"
  net.ipv4.tcp_mtu_probing: "1"
  net.ipv4.tcp_notsent_lowat: "131072"
  net.ipv4.tcp_rmem: 4096 87380 33554432
  net.ipv4.tcp_slow_start_after_idle: "0"
  net.ipv4.tcp_window_scaling: "1"
  net.ipv4.tcp_wmem: 4096 65536 33554432
  sunrpc.tcp_max_slot_table_entries: "128"
  sunrpc.tcp_slot_table_entries: "128"
  user.max_user_namespaces: "11255"
  vm.nr_hugepages: "1024"
---
apiVersion: v1alpha1
kind: EtcFileConfig
name: nfsmount.conf
mode: 0o644
contents: |
  [ NFSMount_Global_Options ]
  nfsvers=4.2
  hard=True
  nconnect=8
  noatime=True
  rsize=1048576
  wsize=1048576
---
apiVersion: v1alpha1
kind: CRICustomizationConfig
name: containerd
content: |
  [plugins."io.containerd.cri.v1.images"]
    discard_unpacked_layers = false
  [plugins."io.containerd.cri.v1.runtime"]
    device_ownership_from_security_context = true
---
apiVersion: v1alpha1
kind: KubeNodeConfig
nodeIP:
  validSubnets:
    - 192.168.42.0/24
labels:
  node.kubernetes.io/gpu: "true"
  topology.kubernetes.io/region: main
  {% if ENV.CONTROLPLANE %}
  node-role.kubernetes.io/control-plane: ""
  {% endif %}
---
apiVersion: v1alpha1
kind: KubeletConfig
config:
  maxParallelImagePulls: 3
  serializeImagePulls: false
  shutdownGracePeriod: 90s
  shutdownGracePeriodCriticalPods: 60s
defaultRuntimeSeccompProfileEnabled: true
image: ghcr.io/siderolabs/kubelet:v1.36.3
---
apiVersion: v1alpha1
kind: KubeNetworkConfig
dnsDomain: cluster.local
podSubnets:
  - 10.42.0.0/16
serviceSubnets:
  - 10.43.0.0/16
---
apiVersion: v1alpha1
kind: KubePrismConfig
port: 7445
{% if ENV.CONTROLPLANE %}
---
apiVersion: v1alpha1
kind: KubeAPIServerConfig
certExtraSANs:
  - k8s.internal
extraArgs:
  enable-aggregator-routing: "true"
  feature-gates: HPAScaleToZero=true
image: registry.k8s.io/kube-apiserver:v1.36.3
---
apiVersion: v1alpha1
kind: KubeAuditPolicyConfig
configuration:
  apiVersion: audit.k8s.io/v1
  kind: Policy
  rules:
    - level: Metadata
---
apiVersion: v1alpha1
kind: KubeAuthenticationConfig
configuration:
  anonymous:
    conditions:
      - path: /livez
      - path: /readyz
      - path: /healthz
    enabled: true
  jwt: []
---
apiVersion: v1alpha1
kind: KubeAuthorizerConfig
name: node
type: Node
---
apiVersion: v1alpha1
kind: KubeAuthorizerConfig
name: rbac
type: RBAC
---
apiVersion: v1alpha1
kind: KubeControllerManagerConfig
extraArgs:
  bind-address: 0.0.0.0
  feature-gates: HPAScaleToZero=true
image: registry.k8s.io/kube-controller-manager:v1.36.3
---
apiVersion: v1alpha1
kind: KubeCoreDNSConfig
enabled: false
---
apiVersion: v1alpha1
kind: KubeEtcdEncryptionConfig
config:
  resources:
    - providers:
        - secretbox:
            keys:
              - name: key2
                secret: op://kubernetes/talos/CLUSTER_SECRETBOXENCRYPTIONSECRET
        - identity: {}
      resources:
        - secrets
---
apiVersion: v1alpha1
kind: KubeProxyConfig
enabled: false
image: registry.k8s.io/kube-proxy:v1.36.3
---
apiVersion: v1alpha1
kind: KubeSchedulerConfig
config:
  profiles:
    - schedulerName: default-scheduler
      plugins:
        score:
          disabled:
            - name: ImageLocality
      pluginConfig:
        - name: PodTopologySpread
          args:
            defaultingType: List
            defaultConstraints:
              - maxSkew: 1
                topologyKey: kubernetes.io/hostname
                whenUnsatisfiable: ScheduleAnyway
extraArgs:
  bind-address: 0.0.0.0
image: registry.k8s.io/kube-scheduler:v1.36.3
{% endif %}
