---
customization:
  extraKernelArgs:
    - i915.force_probe=!7d55 # Intel iGPU (disable i915)
    - xe.force_probe=7d55 # Intel iGPU (enable xe)
    - intel_iommu=on # PCI Passthrough
    - iommu=pt # PCI Passthrough
    - module_blacklist=igc # Thunderbolt NICs (disable igc)
    - sysctl.kernel.kexec_load_disabled=1 # Meteor Lake CPU & Intel iGPU
    - thunderbolt.host_reset=0 # Thunderbolt NICs
  systemExtensions:
    officialExtensions:
      - siderolabs/i915 # Intel iGPU
      - siderolabs/intel-ucode # Intel iGPU
      - siderolabs/mei # Intel iGPU
      - siderolabs/thunderbolt # Thunderbolt NICs
      - siderolabs/xe # Intel iGPU
