[Unit]
Description=Run postgresql
After=zfs-volumes.target network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/devin/Code/repos/onedr0p/home-cluster/server
ExecStartPre=-/bin/bash -c '/bin/podman pod ps --filter label=app=postgresql -q | xargs sudo podman pod stop'
ExecStartPre=-/bin/bash -c '/bin/podman pod ps --filter label=app=postgresql -q | xargs sudo podman pod rm -f'
ExecStart=/bin/podman play kube postgresql/deployment.yaml
ExecStop=-/bin/bash -c '/bin/podman pod ps --filter label=app=postgresql -q | xargs sudo podman pod stop'
ExecStop=-/bin/bash -c '/bin/podman pod ps --filter label=app=postgresql -q | xargs sudo podman pod rm -f'

[Install]
WantedBy=multi-user.target
