---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-0
---
apiVersion: v1alpha1
kind: KubeNodeConfig
labels:
  topology.kubernetes.io/zone: m
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
# /32 so the kernel never prefers it as the source for the Talos BGP session
addresses:
  - address: 192.168.42.110/32
routes:
  - gateway: 192.168.42.1
    table: 100
---
apiVersion: v1alpha1
kind: BGPInstanceConfig
name: main
routerID: 192.168.42.10
