---
version: "3.8"

services:
  backup-etcd:
    image: docker.io/rclone/rclone:1.57.0
    container_name: backup-etcd
    network_mode: host
    command:
      - "-v"
      - "--config"
      - "/config/rclone.conf"
      - "sync"
      - "--ignore-errors"
      - "--fast-list"
      - "--b2-hard-delete"
      - "--transfers"
      - "20"
      - "--checkers"
      - "20"
      - "--bwlimit"
      - "20M"
      - "minio:k3s/"
      - "b2:k3s-etcd-snapshots-s0DL5a1k/"
    volumes:
      - "{{ containers_base_dir }}/apps/rclone/rclone.conf:/config/rclone.conf:ro"
