---
version: "3.8"

services:
  promtail:
    image: docker.io/grafana/promtail:2.4.1
    container_name: promtail
    restart: unless-stopped
    network_mode: host
    command:
      - -config.file=/etc/promtail/promtail.yaml
    volumes:
      - "{{ containers_base_dir }}/apps/promtail/promtail.yaml:/etc/promtail/promtail.yaml:ro"
      - /var/log:/var/log:ro
      # - /var/lib/docker/containers:/var/lib/docker/containers:ro
