server:
  log_level: debug
  disable: true

clients:
  - url: https://loki.{{ SECRET_PUBLIC_DOMAIN }}/loki/api/v1/push
  # - url: http://192.168.69.123:3100/loki/api/v1/push
  #   batchsize: 524288
  #   timeout: 20s
  #   backoff_config:
  #     min_period: 100ms
  #     max_period: 10s
  #     max_retries: 10

positions:
  filename: /tmp/positions.yaml

scrape_configs:
  - job_name: journal
    journal:
      path: /var/log/journal
      max_age: 12h
      labels:
        job: systemd-journal
    relabel_configs:
      - source_labels: ["__journal__systemd_unit"]
        target_label: unit
      - source_labels: ["__journal__hostname"]
        target_label: hostname
  # - job_name: system
  #   static_configs:
  #     - targets:
  #         - localhost
  #       labels:
  #         job: varlogs
  #         __path__: /var/log/auth.log
