[defaults]
roles_path = ./roles
inventory  = ./inventory
host_key_checking = False
nocows = 1
forks = 10
become = True
retry_files_enabled = False
stdout_callback = yaml
callback_whitelist = profile_tasks
bin_ansible_callbacks = False
deprecation_warnings = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r