# /etc/systemd/system/webhook.service
[Unit]
Description=Small server for creating HTTP endpoints (hooks)
Documentation=https://github.com/adnanh/webhook/

[Service]
WorkingDirectory=/home/devin/Code/k3s-gitops/integrations/auto-shutdown/
ExecStart=/home/devin/go/bin/webhook -nopanic -hooks hooks.json -debug -logfile /home/devin/Code/k3s-gitops/logs/webhook.log
User=devin
Group=users

[Install]
WantedBy=multi-user.target