---
version: "3.8"

services:
  vector:
    image: docker.io/timberio/vector:0.22.1-debian
    container_name: vector
    restart: unless-stopped
    network_mode: host
    command:
      - --config=/etc/vector/vector.yaml
    volumes:
      - "{{ docker_base_dir }}/vector/config/vector.yaml:/etc/vector/vector.yaml:ro"
      - "{{ docker_base_dir }}/vector/data:/vector-data-dir"
      - /var/log:/var/log:ro
