default=autoinstall
timeout=5
timeout_style=menu

menuentry "Focal Live Installer - automated" --id=autoinstall {
    configfile /nodes/$net_default_mac.conf
}
menuentry "Focal Live Installer" --id=install {
    echo "Loading Kernel..."
    linux /pxelinux/vmlinuz ip=dhcp url=http://192.168.1.1:30080/ubuntu-20.04.2-live-server-amd64.iso
    echo "Loading Ram Disk..."
    initrd /pxelinux/initrd
}
