#jinja2:lstrip_blocks: True
---
{% if mirror_registry is defined %}
mirrors:
  "docker.io":
    endpoint:
    - "{{ mirror_registry.address }}"
  "*":
    endpoint:
    - "{{ mirror_registry.address }}"
{% endif %}
{% if private_registries is defined and private_registries|length > 0 %}
configs:
  {% for private_registry in private_registries %}
  "{{ private_registry.address }}":
    auth:
      username: "{{ private_registry.username }}"
      password: "{{ private_registry.password }}"
  {% endfor %}
{% endif %}
