[Unit]
Description=Vector
Documentation=https://vector.dev
After=network-online.target
Wants=network-online.target

[Service]
User=root
ExecStart=/usr/local/bin/vector --config /etc/vector/vector.yaml
ExecReload=/bin/kill -HUP $MAINPID
Restart=no
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
