[Unit]
Description=%i service with docker compose
Requires=docker.service
After=docker.service
ConditionPathIsMountPoint={{ rclone_data_dir }}

[Service]
WorkingDirectory={{ docker_base_dir }}/%i
ExecStart=/usr/local/bin/docker-compose up
ExecStartPost=/usr/bin/curl -fsS -m 10 --retry 5 -o /dev/null {{ heartbeat_url }}

[Install]
WantedBy=multi-user.target
