---
version: "3.8"

services:
  rclone-{{ name }}:
    image: ghcr.io/k8s-at-home/rclone:v1.58.0
    container_name: rclone-{{ name }}
    network_mode: host
    command:
      - "-v"
      - "--config"
      - "/config/rclone.conf"
      - "sync"
      - "--ignore-errors"
      - "--fast-list"
      - "--b2-hard-delete"
      - "--transfers"
      - "20"
      - "--checkers"
      - "20"
      - "--bwlimit"
      - "20M"
      - "{{ source }}"
      - "{{ destination }}"
    volumes:
      - "{{ rclone_data_dir }}/rclone.conf:/config/rclone.conf:ro"
      - /tycho/Media:/media:ro
