[b2]
type = b2
account = {{ SECRET_B2_APPLICATION_KEY_ID }}
key = {{ SECRET_B2_APPLICATION_KEY }}
hard_delete = true

[minio]
type = s3
access_key_id = {{ SECRET_MINIO_ROOT_USER }}
secret_access_key = {{ SECRET_MINIO_ROOT_PASSWORD }}
region = us-east-1
endpoint = https://s3.{{ SECRET_PRIVATE_DOMAIN }}
