---
data_dir: /vector-data-dir
sources:
  journal_logs:
    type: journald
    journal_directory: /var/log/journal
sinks:
  vector_sink:
    type: vector
    inputs:
      - journal_logs
    address: "{{ vector_aggregator_addr }}:{{ vector_aggregator_port }}"
    version: "2"
