{
  "storage": {
    "type": "b2",
    "config": {
      "bucket": "expanse-xD6942o1",
      "keyID": "{{ .b2_app_key_id }}",
      "key": "{{ .b2_app_key }}"
    }
  },
  "caching": {
    "cacheDirectory": "/app/cache",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 5242880000,
    "maxListCacheDuration": 30
  },
  "hostname": "expanse.turbo.ac",
  "username": "devin",
  "description": "expanse",
  "enableActions": false,
  "formatBlobCacheDuration": 900000000000
}
