---
etcd-s3: {{ k3s_etcd_s3 }}
{% if k3s_etcd_s3 %}
etcd-s3-endpoint: "s3.{{ SECRET_PRIVATE_DOMAIN }}"
etcd-s3-insecure: {{ k3s_etcd_s3_insecure }}
etcd-s3-bucket: "{{ k3s_etcd_s3_bucket }}"
etcd-s3-access-key: "{{ SECRET_MINIO_ACCESS_KEY }}"
etcd-s3-secret-key: "{{ SECRET_MINIO_SECRET_KEY }}"
etcd-snapshot-schedule-cron: "{{ k3s_etcd_snapshot_schedule_cron }}"
etcd-snapshot-retention: {{ k3s_etcd_snapshot_retention }}
{% endif %}
