[Unit]
Description=%i backup timer with docker compose
Requires=docker-compose@%i.service

[Timer]
Unit=docker-compose@%i.service
OnCalendar=daily
OnStartupSec=60m
RandomizedDelaySec=120m

[Install]
WantedBy=multi-user.target
