---
version: "3.8"

services:
  vault:
    image: docker.io/library/vault:1.10.0
    container_name: vault
    restart: unless-stopped
    network_mode: bridge
    cap_add:
      - IPC_LOCK
    environment:
      VAULT_ADDR: http://0.0.0.0:8200
      VAULT_API_ADDR: http://0.0.0.0:8200
      VAULT_ADDRESS: http://0.0.0.0:8200
    command: vault server -config=/vault/config/vault.json
    ports:
      - 8200:8200
    volumes:
      - "{{ vault_data_dir }}/config/vault.json:/vault/config/vault.json"
      - vault-policies:/vault/policies
      - vault-data:/vault/data
    labels:
      - traefik.enable=true
      - traefik.http.routers.vault.rule=Host(`vault.{{ SECRET_PRIVATE_DOMAIN }}`)
      - traefik.http.routers.vault.entrypoints=websecure
      - traefik.http.routers.vault.tls.certresolver=letsencrypt
      - traefik.http.services.vault.loadbalancer.server.port=8200

volumes:
  vault-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ vault_data_dir }}/data"
  vault-policies:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ vault_data_dir }}/policies"
