#jinja2:lstrip_blocks: True
---
apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  calicoNetwork:
    # Note: The ipPools section cannot be modified post-install.
    ipPools:
    - blockSize: 26
      cidr: "{{ k3s_server["cluster-cidr"] }}"
      # {% if calico.bgp.enabled is defined and calico.bgp.enabled %}
      # encapsulation: None
      # {% else %}
      # encapsulation: VXLANCrossSubnet
      # {% endif %}
      encapsulation: None
      natOutgoing: Enabled
      nodeSelector: all()
