---

etcd-snapshot-schedule-cron: "{{ etcd_snapshot_schedule_cron }}"
etcd-snapshot-retention: {{ etcd_snapshot_retention }}
etcd-s3: {{ etcd_s3 }}
etcd-s3-endpoint: "{{ etcd_s3_endpoint }}"
etcd-s3-bucket: "{{ etcd_s3_bucket }}"
etcd-s3-access-key: "{{ etcd_s3_access_key }}"
etcd-s3-secret-key: "{{ etcd_s3_secret_key }}"
