---
apiVersion: v1
kind: Namespace
metadata:
  name: external-secrets
---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-connect-secret
  namespace: external-secrets
stringData:
  1password-credentials.json: {{ ENV.ONEPASSWORD_CREDENTIALS }}
  token: {{ ENV.ONEPASSWORD_CONNECT_TOKEN }}
