---
apiVersion: v1
kind: Namespace
metadata:
  name: flux-system
---
apiVersion: v1
kind: Secret
metadata:
  name: github-deploy-key
  namespace: flux-system
stringData:
  identity: |
    {{ ENV.FLUX_GITHUB_DEPLOY_KEY | indent(4) }}
  known_hosts: |
    {{ ENV.FLUX_GITHUB_PUBLIC_KEYS | indent(4) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age
  namespace: flux-system
stringData:
  age.agekey: {{ ENV.FLUX_SOPS_PRIVATE_KEY | indent(4) }}
