[start]
command:/usr/local/etc/rc.d/adguard_home start
parameters:
type:script
message:starting adguard_home

[stop]
command:/usr/local/etc/rc.d/adguard_home stop
parameters:
type:script
message:stopping adguard_home

[restart]
command:/usr/local/etc/rc.d/adguard_home restart
parameters:
type:script
message:restarting adguard_home
