# logfilename                              [owner:group]      mode    count size      when    flags   [/pid_file]               [sig_num]
/var/log/adguard_home/adguard_home.log       root:wheel         640     7     *         @T00    B       /var/run/adguard_home.pid  1
