---
version: "3.8"

services:
  node-exporter:
    image: quay.io/prometheus/node-exporter:v1.3.1
    restart: unless-stopped
    container_name: node-exporter
    pid: host
    network_mode: host
    cap_add:
      - SYS_TIME
      - SYS_NICE
    command:
      - --path.procfs=/host/proc
      - --path.rootfs=/rootfs
      - --path.sysfs=/host/sys
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro,rslave
