DOMAIN=""

CF_API_EMAIL=""
CF_API_KEY=""
CF_ZONES=""
CF_HOSTS=""
CF_RECORDTYPES=""

PLEX_CLAIM_TOKEN=""

MINIO_ACCESS_KEY=""
MINIO_SECRET_KEY=""

QB_USERNAME=""
QB_PASSWORD=""

SONARR_APIKEY=""

GRAFANA_PASSWORD=""

GMAIL_USER=""
GMAIL_PASSWORD=""

PIHOLE_PASSWORD=""

# NginX BasicAuth
# Use htpasswd to generate the passwords
# htpasswd -nb user password
# make sure to escape any $ characters with a \ character
NGINX_BASIC_AUTH=""
